nav > ul{
    display: flex;
     
}

nav li{
    list-style: none;
    margin-right:20px;
    padding: 0px 10px;
}
nav li:hover{
    background-color: lightgray;
}
nav li a{
   
    text-decoration: none;
    color: black;
}
.drop-down{
    display: none;
    position: absolute;
    background-color: lightyellow;
    padding: 0%;
}

.drop-down li{
    margin: 0%;
    padding: 0%;
}
 nav> ul> li:hover ul{
     display: block;
 }
 .drop{
     position: absolute;
     display: none;
     padding: 0%;
     margin: 0%;
 }
 .drop li{
     margin: 0%;
     padding: 0%;
 }